parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between int and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Console/Commands/PurgeExpiredDataExports.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/AdminWorkshopController.php

		-
			message: '#^Instanceof between App\\Models\\User and App\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Http/Controllers/Api/V1/H11/AdminInternshipController.php

		-
			message: '#^Using nullsafe property access "\?\-\>title" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/TestController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/VerifyController.php

		-
			message: '#^Using nullsafe property access "\?\-\>year" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/VerifyController.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Middleware/AuthenticateKeycloakToken.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/AdminUserCardResource.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Http/Resources/AuditLogEntryResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Http/Resources/AuditLogEntryResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/H12/InstructorSlotResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/H12/SupervisionSlotResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>year" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Jobs/GenerateCertificate.php

		-
			message: '#^Strict comparison using \!\=\= between ''created_at''\|''email''\|''last_name''\|''role'' and ''id'' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Queries/AdminUserQuery.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Queries/CourseCatalogQuery.php

		-
			message: '#^Using nullsafe property access "\?\-\>slug" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/H08/MaterialStore.php

		-
			message: '#^Strict comparison using \=\=\= between array\<string, string\> and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Services/H08/ReorderImpactPreview.php

		-
			message: '#^Method App\\Services\\H12\\SupervisionTiming\:\:endsAt\(\) should return Illuminate\\Support\\Carbon but returns Carbon\\Carbon\.$#'
			identifier: return.type
			count: 1
			path: app/Services/H12/SupervisionTiming.php
