.odnosnik {
  color: var(--link);
  background: none;
  border: none;
  text-decoration: none;
  padding: var(--space-2) 2px;
  margin: -10px -2px;
  display: inline-block;
}
.odnosnik:hover,
.odnosnik:focus-visible {
  text-decoration: underline;
}
.okruszek {
  padding: var(--space-12) var(--space-6);
  margin: calc(var(--space-12) * -1) calc(var(--space-6) * -1);
}
